*   {
    padding: 0;
    margin: 0;
    font-family: 'Amazon Ember', sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    box-sizing: border-box;
    line-height: 1.7em;
}

.header {
    background-color: lightgoldenrodyellow;
    width: 100%;
    min-height: 115px;
    position: relative;
    text-align: center;
}

h1  {
    font-size: 50px;
    width: 100%;
}

h2  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h2 > a  {
    color: #0066c0;
    text-transform: uppercase;
}

h2 > a:hover    {
    color: red;
}

.container  {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.product-grid   {
    text-align: justify;
    margin-top: 30px;
}

.cat-box    {
    width: 24%;
    margin-bottom: 50px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    max-height: 700px;
}

.cat-image-container {
    position: relative;
    margin: 10px 0 0 0;
}

.cat-image-container > img    {
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: grey 5px 5px 5px;
}

.cat-image-container > img:hover    {
    opacity: 0.7;
    cursor: pointer;
}


.current-price  {
    color: #96070a;
    font-weight: bold;
    margin-right: 5px;
    font-size: 20px;
}

.old-price  {
    text-decoration: line-through;
}

.delivery-cost  {
    text-transform: uppercase;
    margin-right: 5px;
}
.stars  {
    padding: 5px 0;
}

.stars > span {
    font-size: 20px;
    height: 30px;
}

.stars > span:hover {
    cursor: pointer;
}

.checker   {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 10px;
}

label.checker   {
    right: 25px;
}

#on-off:checked ~ .product-grid {
    margin: 80px auto 0 auto;
    width: 70%;
}

#on-off:checked ~ .product-grid .cat-box    {
    display: block;
    width: 100%;
    position: static;
    height: 150px;
    margin-bottom: 20px;
}

#on-off:checked  ~ .product-grid .cat-image-container {
    display: block;
    width: 20%;
    float: left;
    position: static;
    height: 100%;
}

#on-off:checked  ~ .product-grid .service-list {
    display: block;
    width: 45%;
    float: left;
    position: static;
    padding-left: 20px;
    padding-right: 20px;
}

#on-off:checked  ~ .product-grid .description-list {
    display: block;
    width: 30%;
    float: left;
    position: static;
}

#on-off:checked ~ .product-grid .cat-image-container img {
    position: static;
}


@media (max-width: 540px)   {

    .cat-box    {
        margin-right: 5px;
        width: 31%;
        margin-bottom: 30px;
    }

    #on-off:checked ~ .product-grid {
        margin: 70px auto 0 auto;
        width: 100%;
    }

    #on-off:checked ~ .product-grid .cat-box {
        margin-bottom: 30px;
    }
}


